<div class="row">
  <div class="col-lg-9">
    <h1><%= @book.title %>
      <small><%= @book.author %></small>
    </h1>
    <h2>
      <small>Category:
      </small>
      <%= @book.category.name %>
    </h2>
    <div class="well well-sm">
      <%= @book.desc %>
    </div>
  </div>
  <div class="col-lg-3">
    <%= image_tag @book.book_cover.url(:cover) %>
  </div>
</div>
<div class="">
  <%= link_to "Add review", new_book_review_path(@book) %>
</div>
<%= render @book.reviews %>
<% if user_signed_in? %>
<% if @book.user_id == current_user.id %>
<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?" } %>
<% end %>
<% end %>
<%= link_to "Back", root_path %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.1/jquery.raty.js"></script>
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets'
  });
</script>
